.graduate-banner {
    height: 100vh;
    min-height: 650px;
    position: relative;
    display: flex;
    background-image: url('src/assets/images/bg-inspire.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    &_background {
        display: none;
    }
    &::before {
        content: "";
        background-image: url('src/assets/images/edge-top.png');
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        height: 33px;
        width: 100%;
        top: -12px;
        z-index: 1;
    }
    &::after {
        content: "";
        background-image: url('src/assets/images/edge-bottom.png');
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        height: 33px;
        width: 100%;
        bottom: 0;
        z-index: 1;
    }
    &_content {
        position: relative;
        z-index: 2;
        padding-right: 22px;
        display: flex;
        .title-mb {
            display: none;
        }
        .title-des {
            display: block;
        }
        &::before {
            content: "";
            border-top: 2px solid $c-white;
            width: 130px;
            margin-top: 20px;
            @media screen and(max-width: 1378px) {
                margin-top: 14px;
            }
            @media screen and(max-width: 1440px) {
                width: 100%;
                margin-top: 16px;
                right: 100%;
                position: absolute;
            }
        }
        &_infor {
            padding-left: 22px;
        }
        &_line {
            border-top: 1px solid $c-white;
            width: calc(50% - 174px);
            margin: 25px 23px 0 0;
        }
        button {
            padding: 16px 98px;
            &:hover {
                background-color: #83c000;
                color: $c-white;
                transition: 0.3s;
            }
        }
        .people-mb {
            display: none;
        }
        .people-des {
            display: block;
        }
    }
    .infor-title {
        font-size: 32px;
        line-height: 40px;
        text-transform: uppercase;
        margin-bottom: 43px;
    }
    .infor-content {
        .infor-only {
            margin-bottom: 26px;
        }
        img {
            height: 115px;
            object-fit: scale-down;
        }
        .text-infor {
            width: 440px;
            font-size: 14px;
            line-height: 18px;
            color: $c_white;
            &--italic {
                font-family: "Muli Italic";
                max-width: 440px;
                padding-bottom: 30px;
                border-bottom: 2px solid #fff;
                font-style: italic;
            }
            &--only {
                text-decoration: underline;
                color: $c_green_atlantis;
                font-size: 43px;
                line-height: 54px;
                text-align: center;
                padding-bottom: 7px;
                font-family: "Muli Bold";
                text-decoration-thickness: 4px;
            }
        }
    }
    &_footer {
        width: 100%;
        font-size: 16px;
        line-height: 20px;
        position: absolute;
        right: 0px;
        bottom: 40px;
        text-align: right;
        color: $c_gray;
    }
    .give-title {
        margin-bottom: 23px;
        margin-top: 18px;
    }
    .student-graduate {
        color: #4A4A4A;
    }
    .give-now {
        background: #AFD53D;
        color: #1D6320;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        font-family: 'Open Sans SemiBold';
        padding: 17px 98px 16px;
        min-width: 266px;
        display: inline-block;
        &:hover {
            background-color: #83c000;
            color: #fff;
            transition: .2s;
        }
    }
}

@media screen and(max-width: 1378px) {
    .graduate-banner {
        .infor-content {
            img {
                height: 100px;
                -o-object-fit: scale-down;
                object-fit: scale-down;
            }
            .text-infor {
                &--only {
                    font-size: 36px;
                    line-height: 40px;
                }
            }
        }
    }
    .infor-title {
        margin-bottom: 40px;
    }
    .infor-scale {
        h5 {
            font-size: 25px;
            line-height: 30px;
        }
    }
}

@media screen and (max-width: 1440px) {
    .graduate-banner {
        &_content {
            &_infor {
                padding-left: 0;
            }
        }
    }
    .content-graduate {
        width: 100%;
        max-width: 1230px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        padding: 0 15px;
        position: relative;
    }
}