.vs-mission {
    min-height: 688px;
    &_des {
        font-size: 18px;
        line-height: 23px;
        padding-bottom: 40px;
        min-height: 204px;
        color: #4B4B4B;
    }
    &_list {
        .mision-group {
            &_item {
                padding-bottom: 43px;
                align-items: center;
                padding-left: 4px;
                img {
                    height: 138px;
                    width: 138px;
                    margin-right: 62px;
                    border-radius: 50%;
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
                }
                &_content {
                    .item-spirit-title {
                        padding-bottom: 14px;
                    }
                    p {
                        padding-bottom: 14px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: initial;
                        display: -webkit-box;
                        -webkit-line-clamp: 5;
                        -webkit-box-orient: vertical;
                        max-height: 110px;
                        font-size: 16px;
                        line-height: 20px;
                        color: #4A4A4A;
                    }
                }
            }
            .detail-spirit {
                img {
                    height: 11px;
                    width: auto;
                    border-radius: 0;
                    box-shadow: none;
                }
            }
        }
    }
    .swiper-pagination {
        text-align: left;
    }
}

.row-mission {
    padding-top: 57px;
    margin: 0 -15px;
    padding-bottom: 57px;
}

.global_banner {
    text-align: center;
    padding-bottom: 75px;
    img {
        height: 83%;
        width: 83%;
    }
}

.title-spirit {
    margin-bottom: 10px;
}

.title-pay-it {
    margin-bottom: 20px;
}