.vs-core-val {
    padding-top: 68px;
    margin-bottom: 43px;
    &_title {
        font-size: 32px;
        line-height: 40px;
        font-family: 'Muli Bold';
        text-align: center;
    }
    &_content {
        position: relative;
        width: fit-content;
        margin: 0 auto;
        margin-top: 132px;
    }
    &--p {
        p {
            margin-top: 23px;
            font-size: 14px;
            line-height: 24px;
            color: #222A41;
        }
    }
    .integrity {
        width: 306px;
        position: absolute;
        top: -60px;
        left: 29%;
        text-align: center;
        div {
            justify-content: center;
        }
        h5 {
            color: $c-integ;
        }
    }
    .impact {
        top: 23%;
        left: -130px;
        position: absolute;
        width: 267px;
        text-align: right;
        div {
            justify-content: flex-end;
        }
        h5 {
            color: $c-impact;
        }
    }
    .community {
        position: absolute;
        text-align: right;
        width: 432px;
        bottom: 1%;
        left: -100px;
        div {
            justify-content: flex-end;
        }
        h5 {
            color: $c-community;
        }
    }
    .empowerment {
        position: absolute;
        text-align: left;
        bottom: 1%;
        right: -55px;
        width: 370px;
    }
    .growthmindset {
        position: absolute;
        text-align: left;
        width: 303px;
        top: 23%;
        right: -180px;
        h5 {
            color: $c-grow;
        }
    }
    &_only-title {
        position: absolute;
        display: none;
        &_integrity {
            h5 {
                font-size: 12px;
                text-transform: uppercase;
                color: $c-integ;
            }
        }
        &_impact {
            h5 {
                font-size: 12px;
                text-transform: uppercase;
                color: $c-impact;
            }
        }
        &_community {
            h5 {
                font-size: 12px;
                text-transform: uppercase;
                color: $c-community;
            }
        }
        &_empowerment {
            h5 {
                font-size: 12px;
                text-transform: uppercase;
            }
        }
        &_growthmindset {
            h5 {
                font-size: 12px;
                text-transform: uppercase;
                color: $c-grow;
            }
        }
    }
}