.vs-vi-mission {
    padding-top: 78px;
    &_title {
        font-size: 42px;
        font-family: 'Muli Bold';
        line-height: 56px;
        text-align: center;
    }
    .vision {
        &_image {
            padding-left: 0;
            position: relative;
            &_img {
                max-height: 575px;
                object-fit: cover;
            }
            &_bg {
                position: absolute;
                left: -128px;
                bottom: 50px;
                max-width: 814px;
            }
        }
        &_content {
            padding-left: 115px;
            padding-right: 70px;
            align-self: center;
            p {
                font-size: 14px;
                line-height: 24px;
                padding-bottom: 24px;
                white-space: pre-line;
                color: #222A41;
                text-align: justify;
            }
            p:last-child() {
                padding-bottom: 0;
            }
        }
    }
    .mission {
        &_image {
            padding-left: 0;
            text-align: right;
            img {
                max-height: 342px;
                object-fit: cover;
            }
        }
        &_content {
            align-self: center;
            padding-right: 96px;
            padding-left: 100px;
            p {
                font-size: 14px;
                line-height: 24px;
                white-space: pre-line;
                color: #222A41;
                text-align: justify;
            }
        }
    }
}