vs-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.vs-button {
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: none;
    &:focus,
    &:active {
        outline: 0;
    }
    &--600 {
        font-weight: 600;
    }
    &--normal {
        font-family: "Open Sans" !important;
    }
    &--green-strong {
        background: $c-green-strong;
        color: $c-white;
    }
    &--green-lochmara {
        background: $c-green-lochmara;
        color: $c-green-strong;
    }
    &--green-yellow {
        background: $c-green-yellow;
        color: $c-green-strong;
    }
    &--gray {
        background: #e3e3e3;
    }
    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    &--radius-10 {
        border-radius: 10px;
    }
    &--radius-17 {
        border-radius: 17px;
    }
    &--width-380 {
        width: 380px;
    }
}

vs-button {
    .text-uppercase {
        font-family: "Open Sans SemiBold";
    }
}