.owl-theme .owl-nav [class*=owl-] {
    padding: 0;
}
.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin-top: -22px;
}
.owl-theme .owl-dots .active span {
    background: #64CE53 !important;
    color: #FFF;
    text-decoration: none;
}
.owl-theme .owl-nav .disabled {
    opacity: 1;
    background: #64CE53;
}