.vs-custom-select {
    position: absolute;
    top: 40px;
    border-radius: 4px;
    // width: 100%;
    min-width: 180px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    z-index: 3;
    background: #fff;
    max-height: 300px;
    overflow: auto;
    
    ul {
        li {
            padding: 0px 10px;
            font-size: 14px;
            line-height: 38px;
            font-family: 'Open Sans SemiBold';
            &:hover {
                background: #75717111;
                cursor: pointer;
            }
        }
        .dropdown-active {
            background: #75717111;
        }
    }
}
.vs-custom-select::-webkit-scrollbar {
    width: 8px;
}

.vs-custom-select::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.vs-custom-select::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

.vs-custom-select::-webkit-scrollbar-thumb:hover {
    background: #555; 
}