.news-blog {
    padding-top: 78px;
    &_list {
        .blog-item {
            color: $c_gray;
            &:hover {
                text-decoration: none;
                color: $c_black;
            }
        }
    }
    .head-news {
        margin-bottom: 34px;
    }
    .swiper-pagination {
        text-align: center;
    }
    .swiper-slide {
        display: flex;
    } 
}