.vs-partners {
    padding-top: 65px;
    &_carousel {
        &_item {
            display: flex;
            height: 89px;
            img {
                object-fit: scale-down;
                max-height: 89px;
                width: auto;
            }
        }
    }
    .head-partner {
        margin-bottom: 34px;
    }
}

.vs-partners {
    &_carousel.vs-skelekon {
        margin: 20px 0;
        height: 90px;
    }
    &_carousel {
        .swiper-pagination {
            bottom: 0px;
        }
        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background: #869791;
        }
        .swiper-pagination-bullet-active {
            background: #AFD53D;
        }
    }
}