
.alumni-card {
    border-radius: 18px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    font-family: 'Open Sans';
    margin-bottom: 100px;
    &_body {
        display: flex;
        .alumni-avatar {
            margin-right: 100px;
            height: 278px;
            flex: 0 0 400px;
            display: flex;
            align-items: center;
            max-width: 400px;
            border-radius: 18px 18px 0 0;
            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }
        .alumni-infor {
            width: 100%;
            padding: 30px;
           
        }
    }
    &_story {
        text-align: justify;
        font-size: 14px;
        line-height: 24px;
        padding: 84px 87px 66px 99px;
        position: relative;
        color: #4A4A4A;
    }
    .alumni-story {
        &::before {
            background: url('assets/images/quotes.png');
            content: "";
            position: absolute;
            top: 18px;
            left: 30px;
            display: inline-block;
            background-repeat: no-repeat;
            height: 50px;
            width: 99px;
            z-index: 2;
            background-color: #fff;
            background-position: 0 -24px;
        }
    }
}
.alumni-name {
    font-size: 18px;
    text-transform: uppercase;
    color: #85BE1A;
    font-family: 'Open Sans SemiBold';
}
.alumnies-contain {
    padding-top: 47px;
}
.control-text {
    text-align: right;
    button {
        color: #85BE1A;
        display: inline-block;
        cursor: pointer;
        border: none;
        outline: none;
        box-shadow: none;
        padding: 0;
    }
}
.alumni-container {
    padding-top: 65px;
}
