.catolog-contain {
    padding-left: 7px;
    width: 480px;
    margin-right: 21px;
    .profile-title {
        padding-bottom: 23px;
        padding-left: 17px;
        font-size: 20px;
        line-height: 25px;
        font-family: 'Open Sans SemiBold';
    }
}
.vs-catalog {
    max-width: 480px;
    padding-right: 21px;
    color:  #4A4A4A;
    border-bottom: none;
    li {
        border: none;
        max-width: 416px;
        a {
            color:  #4A4A4A;
            font-family: 'Open Sans SemiBold';
            font-size: 16px;
            line-height: 43px;
            padding: 0 17px;
            border: none !important;
            &:hover {
               border: none ;
               color: #fff;
               background: #AFD53D;
               border-radius: 5px;
            }
        }
        .catalog-active {
            color: #fff !important;
            background: #AFD53D !important;
            border-radius: 5px !important;
        }
        a[aria-expanded="true"] {
            color: #fff !important;
            background: #AFD53D !important;
            border-radius: 5px !important;
        }
        &:hover {
            cursor: pointer;
        }
    }
    li:not(:last-child) {
        margin-bottom: 5px;
    }
}