.profile-collapse {
    max-width: 649px;
    button {
        outline: none;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 20px;
        color: #4A4A4A;
        background: #E3E3E3;
        padding: 16px 30px 16px 20px;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        text-align: left;
        font-family: 'Open Sans SemiBold';
        margin-bottom: 20px;
        &::after {
            content: " ";
            border: solid #1D6320;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 4px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            position: absolute;
            right: 17px;
            top: 18px;
            transition: 0.3s ease;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .des-content {
        padding-bottom: 20px;
        font-family: "Open Sans SemiBold";
    }
    button[aria-expanded=true] {
        &::after {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transition: 0.3s ease;
        }
      }
}