.our-students-container {
    margin-top: 144px;
}

.students-contain {
    margin-top: 10px;
}

.our-students-bottom {
    margin-bottom: 30px;
}

vs-student-card {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
}

.student-card {
    flex: 0 0 100%;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    color: #4A4A4A;
    border-radius: 18px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    min-height: 710px;
    &_avatar {
        min-height: 278px;
        // &:empty {
        //     background: #4A4A4A;
        // }
        img {
            height: 278px;
            width: 100%;
            object-fit: scale-down;
            object-position: center;
            border-top-right-radius: 18px;
            border-top-left-radius: 18px;
            background: none;
            position: relative;
            z-index: 1;
            box-sizing: border-box;
        }
    }
    &_body {
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        padding: 36px 30px 25px;
        font-family: 'Open Sans';
        table {
            width: 100%;
            font-size: 16px;
            line-height: 38px;
            margin-bottom: 20px;
            tr {
                border-bottom: 1px solid #C6C6C6;
            }
            td {
                text-align: right;
                vs-title {
                    display: block;
                    margin-bottom: 8.5px;
                }
            }
            th {
                white-space: nowrap;
                font-family: 'Open Sans SemiBold';
            }
        }
    }
}

.students-list {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 12px;
    &_item {
        padding: 10px 0;
        display: flex;
        flex-flow: column;
    }
}
.bottom-buttons {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    .vs-button {
        font-size: 12px;
        line-height: 15px;
        padding: 18px 5px;
        min-width: 156px;
        max-width: 156px;
    }
    &--profile {
        justify-content: flex-start;
        .bottom-buttons_half {
            margin-right: 8px;
        }
    }
    
}