.contact-form-contain {
    .contact-fields {
        padding: 0;
        background: none;
        box-shadow: none;
        label {
            display: none
        }
        .form-group {
            margin-bottom: 15px;
        }
        input {
            height: 50px;
            background: #F1F2F2;
            font-size: 14px;
            display: flex;
            align-items: center;
        }
        .contact-method {
            margin-left: 0;
            margin-right: 0;
            label {
                display: block;
            }
        }
        textarea {
            background: #F1F2F2;
            min-height: 128px;
        }
        .donate-form {
            label {
                display: block;
                margin-top: 0;
                padding-right: 0px;
                text-align: center;
            }
        }
        .checkbox-group {
            display: flex;
            justify-content: space-between;
            .checkbox-item {
                margin: 0 !important;
            }
        }
    }
    .location-select .select2-selection {
        background: #F1F2F2;
        height: 50px;
    }
    .location-select .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 16px !important;
    }
}