.blog-type {
    &_head {
        .bottom-line::after {
            content: none;
        }
    }
}

.blog-list {
    &_item {
        border-bottom: 1px solid #C6C6C6;
        padding: 0;
        padding-bottom: 50px;
        margin-bottom: 40px;
    }
    .col-12:last-child &_item {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.blog-detail {
    &-contain {
        padding-top: 58px;
        .detail-content {
            padding: 0 $default-padding;
        }
    }
}