

.program-mentoring {
    .join-us {
        .vs-title_text {
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            span {
                white-space: nowrap;
            }
        }
        &_image {
            height: 278px;
            width: 100%;
            overflow: hidden;
            &_mobile {
                left: 50%;
                top: 0;
                position: absolute;
                height: 100%;
                max-width: none;
                transform: translateX(-50%) translateZ(0);
            }
        }
    }
}

.location-list {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    &_item {
        width: auto;
        max-width: 100%;
        flex: 0 0 auto;
    }
}

.our-mentor {
    &-content {
        flex-flow: row wrap;
        &_left {
            flex: 0 0 100%;
            max-width: none;
            width: auto;
            padding: 0 $default-padding;
        }
        &_right {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0 $default-padding;
        }
    }
}
.program-mentoring {
    .tracking {
        &_image {
            padding-top: 60px;
        }
    }
}