.program-scholarship {
    margin-top: 24px;
    &_revenue {
        &--mobile {
            margin: 0;
            padding: 0 $default-padding;
            position: relative;
            height: auto;
            padding-top: 375px;
            width: 100%;
            overflow: hidden;
        }
        &--mobile img {
            position: absolute;
            top: 0;
            left: 50%;
            height: 369px;
            width: auto;
            max-width: none;
            transform: translateX(-50%) translateZ(0);
        }
    }
}

.mentoring-pro-container {
    .mentoring-pro-body {
        &_achieve {
            .vs-title_text {
                font-size: 24px;
                line-height: 32px;
            }
            img {
                height: auto;
                width: 100%;
            }
        }
    }
}