.corporate-head {
    margin-bottom: 85px;
    &_content {
        font-size: 18px;
        line-height: 24px;
        color: #000;
        p {
            white-space: pre-line;
        }
        p:not(:last-child) {
            margin-bottom: 20px;
        }
        span{
            color: #1D6320;
        }

    }
}