.become-sponsor {
    margin-bottom: 27px;
    font-family: 'Open Sans';
    p {
        white-space: pre;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        padding-bottom: 25px;
        a {
            white-space: pre;
            color: #000;
            font-weight: bold;
        }
    }
    vs-button button {
        display: block;
        min-width: 270px;
        font-size: 16px;
        line-height: 18px;
        padding: 16px 20px;
    }
    vs-button button:hover {
        background-color: #1D6320;
        color: #fff;
        transition: 0.3s;
    }
    &--individual {
        margin-bottom: 270px;
    }
    &--corporate {
        max-width: 1008px;
        margin: 0 auto;
        text-align: left;
    }
}

.individual-sponsor {
    margin-top: 78px;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 24px;
    color: #222A41;
    .individual-category {
        margin-bottom: 62px;
        vs-title {
            display: block;
            margin-bottom: 14px;
            max-width: 293px;
        }
        .short-categories {
            margin-bottom: 27px;
            border-bottom: 1px solid #E2E2E2;
            padding-bottom: 24px;
            // ul {
            //     display: flex;
            //     padding-bottom: 24px;
            // }
            // ul li:not(:first-child) {
            //     padding-left: 3px;
            // }
            // ul li {
            //     display:  inline-block;
            // }
            // ul li:last-child span {
            //     display:  none;
            // }
        }
        .img-categories-contain {
            display: flex;
            justify-content: center;
        }
        .img-categories-contain img {
            max-height: 588px;
            height: 100%;
        }
        .categories .category-item:last-child {
            margin-bottom: 0;
            border-bottom: none;
        }
        .category-item {
            display: flex;
            min-height: 97px;
            margin-bottom: 27px;
            border-bottom: 1px solid #E2E2E2;
            svg {
                width: 39px;
                height: 39px;
                margin-right: 22px;
            }
            &_content {
                max-width: 449px;
                &_name {
                    font-size: 14px;
                    line-height: 12px;
                    color: #85BE1A;
                    font-family: 'Open Sans SemiBold';
                    padding-bottom: 15px;
                }
                &_des {
                    font-size: 14px;
                    line-height: 24px;
                    padding-bottom: 28px;
                    strong {
                        font-family: 'Open Sans SemiBold';
                    }
                }
            }
        }
    }
    .individual-join {
        margin-bottom: 110px;
        &_thumbnail {
            img {
                max-height: 276px;
                height: 100%;
            }
            &--corporate {
                padding-top: 40px;
            }
        }
        &_content {
            vs-title {
                margin-bottom: 29px;
                display: block;
                // max-width: 390px;
            }
            .reason-join-list {
                ul {
                    padding-left: 0;
                    list-style: none;
                    max-width: 562px;
                    li {
                        font-size: 14px;
                        line-height: 24px;
                        position: relative;
                        padding-left: 18px;
                        white-space: pre-line;
                        &::before {
                            position: absolute;
                            content: "\2022";
                            color: #85BE1A;
                            font-weight: bold;
                            display: inline-block;
                            width: 6px;
                            top: -2px;
                            left: 0;
                        }
                    }
                }
                &--corporate {
                    ul {
                        max-width: 548px;
                    }
                }
            }
        }
    }
}

.individual-head {
    margin: 0 auto;
    margin-bottom: 53px;
    max-width: 1008px;
    &_content {
        font-size: 18px;
        line-height: 24px;
        color: #000;
        p:not(:last-child) {
            margin-bottom: 20px;
        }
        span {
            color: #436415;
        }
    }
    vs-title {
        display: block;
        margin-bottom: 13px;
    }
    p {
        font-size: 18px;
        line-height: 24px;
        white-space: pre-line;
        text-align: left;
    }
}

.categories-circle {
    position: relative;
    height: 588px;
    .quater-item {
        position: absolute;
        &--transformer {
            width: 50%;
            left: 0;
            top: 0;
            height: 50%;
            display: block;
        }
        &--changer {
            width: 50%;
            right: 0;
            top: 0;
            height: 50%;
            display: block;
        }
        &--planter {
            width: 50%;
            bottom: 0;
            top: 50%;
            right: 0;
            left: 50%;
            height: 50%;
            display: block;
        }
        &--grower {
            width: 50%;
            left: 0;
            top: 50%;
            right: 50%;
            bottom: 0;
            height: 50%;
            display: block;
        }
        &_amount {
            font-family: 'Open Sans SemiBold';
            font-size: 30px;
            height: 100%;
            span {
                height: 169px;
                max-height: 100%;
                position: absolute;
                left: 30%;
                top: 40%;
                display: block;
                transform-origin: bottom center;
            }
            &--transformer {
                color: #036fb9;
                transform: rotate(-66deg);
            }
            &--changer {
                color: #00a3e0;
                transform: rotate(24deg);
            }
            &--planter {
                color: #00a04c;
                transform: rotate(122deg);
                span {
                    left: 34%;
                    top: 42%;
                }
            }
            &--grower {
                color: #97cf41;
                transform: rotate(33deg);
                span {
                    display: flex;
                    align-items: flex-end;
                    height: 294px;
                    left: 56%;
                    top: -43%;
                    transform-origin: center;
                }
            }
        }
        &_content {
            font-family: 'Open Sans';
            color: #fff;
            font-size: 10px;
            line-height: 13px;
            text-align: center;
            position: absolute;
            &--transformer {
                top: 50%;
                left: 50%;
                max-width: 129px;
            }
            &--changer {
                top: 50%;
                right: 50%;
                max-width: 130px;
            }
            &--planter {
                top: 23%;
                right: 48%;
            }
            &--grower {
                top: 23%;
                left: 51%;
                max-width: 117px;
            }
            .quater-title {
                font-family: 'Open Sans SemiBold';
                text-transform: uppercase;
            }
            .quater-des {
                max-width: 138px;
                strong {
                    font-family: 'Open Sans SemiBold';
                }
                p {
                    text-align: center !important;
                }
                // &--transformer {
                //     max-width: 138px;
                // }
            }
        }
    }
}