.vs-vi-mission_title {
    font-size: 31px;
    line-height: 41px;
}

.vs-vi-mission {
    .vision {
        padding-bottom: 28px;
        &_image {
            padding: 0 $default-padding;
            transform: translateX(10px);
            padding-bottom: 27px;
            &_img,
            &_bg {
                max-height: none;
                height: auto;
                width: 100%;
            }
            &_bg {
                left: 0;
                right: 0;
            }
        }
        &_content {
            padding-left: $default-padding;
            padding-right: $default-padding;
            padding-bottom: 0;
        }
    }
    .mission {
        padding-bottom: 28px;
        &_content {
            // order: 2;
            padding: 0px $default-padding;
        }
        &_image {
            // order: 1;
            padding: 0 $default-padding;
            padding-bottom: 27px;
            img {
                max-height: none;
                height: auto;
                width: 100%;
                object-fit: scale-down;
            }
        }
    }
}

.vs-core-val {
    &_title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 8px;
    }
    &_content {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: -$default-padding;
        margin-right: -$default-padding;
        text-align: center;

        img {
            max-width: 800px;
            width: 100%;
        }
    }
    &--p p {
        margin-top: 0;
    }
    &_only-title {
        display: block;
    }
    .integrity,
    .growthmindset,
    .empowerment,
    .community,
    .impact {
        position: static;
        display: block;
        width: 100%;
        text-align: left;
        margin-bottom: 40px;
        padding: 0 $default-padding;
        .vs-title {
            margin-bottom: 14px;
            text-align: left;
            justify-content: flex-start;
            .vs-title_text {
                font-size: 18px;
                line-height: 32px;
            }
        }
    }
}

// OUR JOURNEY
.head-time-line {
    padding-top: 24px;
    padding-bottom: 51px;
    &_title {
        font-size: 31px;
        line-height: 41px;
    }
    &_des {
        font-size: 14px;
    }
}

.timeline {
    &_item {
        &--left {
            left: -$default-padding;
            padding-left: $default-padding;
        }
    }
    img {
        left: 0;
        right: 0;
        width: 100%;
        max-height: none;
    }
}

.content-des_title {
    font-size: 14px;
    line-height: 18px;
}

.footer-time-line {
    overflow: hidden;
    padding: 0;
    height: 227px;
    margin-left: -$default-padding;
    margin-right: -$default-padding;
    margin-bottom: 40px;
    img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }
}

// OUR TEAM
.vs-our-team {
    padding-top: 78px !important;
    &_head {
        padding: 0;
    }
    &_title {
        padding-left: $default-padding;
        padding-bottom: 24px;
        display: flex;
        justify-content: center;
    }
    &_des p:not(:last-child) {
        padding-right: 0;
    }
    &_team {
        max-width: 960px;
        margin: 0 auto;
        .team-item {
            padding-bottom: 20px;
            &_contain {
                .founder-avartar {
                    img {
                       width: 100%;
                       height: auto;
                    }
                    &--left {
                        padding: 56px 26px 64px 90px;
  
                    }
                    &--right {
                        padding: 56px 90px 64px 26px;
                    }
                }
                .founder-infor {
                    &_name {
                        margin-bottom: 13px;
                        font-size: 24px;
                        line-height: 30px;
                    }
                    &_role {
                        padding: 0;
                        margin-bottom: 32px;
                    }
                    &_pos--role {
                        font-size: 14px;
                        line-height: 24px;
                    }
                    &--left {
                        padding-left: 90px;
                    }
                }
            }
        }
    }
}

// Foundation
.vs-foundation {
    margin: 24px 0 85px 0;
    .vs-title .vs-title_text {
        font-size: 31px;
        line-height: 41px;
    }
}