.cdk-overlay-pane {
    padding: $default-padding;
    width: 100%;
    overflow-y: auto;
}

.vs-dialog_body--donate {
    padding-left: 20px;
}

.vs-dialog_close span {
    font-size: 12px;
    line-height: 15px;
}

.vs-dialog_body {
    padding: 25px 17px;
    .vs-title_text {
        font-size: 31px;
        line-height: 41px;
    }
    p {
        margin-bottom: 12px;
    }
    .row {
        margin: 0;
    }
    .involved-titem {
        padding: 30px 0;
    }
}
.vs-dialog_body .donate-guide-content ul {
    max-width: 100%;
}