.donate {
    &-card {
        img {
            object-fit: cover;
            height: auto;
        }
        .pay-next {
            flex-flow: row wrap;
            a {
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 9px;
            }
            img {
                max-width: 100%;
                width: 100%;
                height: auto;
            }
        }
    }
    &-contain {
        &_head {
            margin-bottom: 30px;
        }
        &_head p {
            font-size: 14px;
        }
    }
}