

vs-our-model .wrapper {
    padding-top: 0;
}
.main-banner {
    height: auto;
    max-height: 1000px;
    &_left-inner {
        flex: auto;
        height: 100%;
        align-items: center;
        &::before {
            display: none;
        }
        &_content {
            margin-bottom: 0;
            .vs-title {
                &_text {
                    font-size: 32px;
                    line-height: 38px;
                }
            }
            .vs-button {
                &_involved {
                    button {
                        min-width: 240px;
                        font-size: 14px;
                        line-height: 18px;
                        padding: 10px 20px;
                        &:hover {
                            background: #1D6320;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
.our-model {
    margin-bottom: 0;
    &_title {
        margin-bottom: 41px;
        .vs-title {
            &_text {
                font-size: 24px;
                line-height: 48px;
            }
            &_line {
                display: none;
            }
        }
    }
    &_list {
        padding-bottom: 0;
        .model-item {
            padding: 0 0 35px 0;
            &_content {
                p {
                    text-align: justify;
                }
            }
            
        }
    }
}

.graduate-banner {
    height: 550px;
    min-height: 550px;
    background-position-x: -896px;
    background-position-y: -178px;
    background-attachment: scroll;
    &_content {
        img {
            margin-right: 20px;
        }
        &::before {
            display: none;
        }
        .vs-title {
            &_text {
                font-size: 24px;
                line-height: 30px;
                &--give {
                    font-size: 24px;
                    line-height: 36px;
                }
            }
        }
        .give-title {
            margin-bottom: 17px;
            margin-top: 14px;
        }
        .give-now {
            font-size: 10px;
            line-height: 13px;
            padding: 13px;
            min-width: 203px;
            text-align: center;
            &:hover {
                background: #AFD53D;
                color: #1D6320;
            }
        }
        &_infor {
            padding-left: 0px;
        }
    }
    .infor-content {
        .text-infor {
            width: auto;
            &--only {
                font-size: 30px;
                line-height: 38px;
            }
            &--italic {
                padding-bottom: 16px;
                text-align: justify;
            }
        }
        .infor-only {
            margin-bottom: 20px;
        }
    }
}

.row-mission {
    padding-top: 66px;
    padding-bottom: 43px;
    .vs-title {
        &_text {
            &--spirit {
                h5 {
                    font-size: 12px;
                    line-height: 15px;
                }
            }
            &--pay-it {
                h5 {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }
    }
}

.vs-mission {
    min-height: auto;
    &_des {
        padding-bottom: 40px;
        font-size: 14px;
        line-height: 18px;
        min-height: auto;
    }
    padding-bottom: 80px;
    .title-spirit {
        margin-bottom: 8px;
    }
    .title-pay-it {
        margin-bottom: 15px;
    }
    &_list {
        .mision-group {
            &_item {
                padding-bottom: 28px;
                &:last-child {
                    padding-bottom: 51px;
                }
                img {
                    height: 104px;
                    width: 104px;
                    margin-right: 47px;
                }
                p {
                    -webkit-line-clamp: 3;
                    max-height: 60px;
                    font-size: 16px;
                    line-height: 20px;
                    color: #4a4a4a;
                }
                .vs-title {
                    &_text {
                        font-size: 13px;
                        line-height: 17px;
                    }
                }
                .item-spirit-title {
                    padding-bottom: 12px;
                }
            }
        }
    }
}

.vs-header {
    min-height: 50px;
    width: 100vw;
    top: 0;
    transition: 0.3s;
    &_main-menu {
        flex-direction: column;
        padding-top: 66px;
    }
    .select-languages {
        z-index: 1;
        button {
            color: #212529;
        }
    }
    .navbar-collapse {
        background: rgb(29, 99, 32) !important;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
    }
    &_logo {
        z-index: 1;
        padding: 10px 0;
        img {
            height: 35px;
        }
    }

    &_main-menu {
        .dropdown-menu {
            border: none;
            background: #1d6320;
            li {
                a {
                    color: #fff;
                }
            }
        }
        .navbar-nav {
            display: block;
        }
        .menu-list {
            padding-top: 30px;
            padding-left: $default-padding;
            padding-right: $default-padding;
            text-align: left;
            height: auto;
            width: 100%;
            max-height: calc(100vh - 66px - 104px);
            overflow-y: auto;
            padding-bottom: 30px;
            font-size: 14px;
            .nav-link {
                &--des {
                    display: none;
                }
                &--mobile {
                    display: block;
                }
                &--dropdown {
                    &::after {
                        content: "";
                        position: absolute;
                        right: 3px;
                        top: 22px;
                        border: solid #4a4a4a;
                        border-width: 0 2px 2px 0;
                        display: inline-block;
                        padding: 3px;
                        transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                        transition: 0.3s;
                    }
                    &[aria-expanded="true"] {
                        &::after {
                            transform: rotate(45deg);
                            -webkit-transform: rotate(45deg);
                        }
                    }
                }
            }
            .nav-item {
                width: 100%;
                border-bottom: 1px solid #c6c6c6;
                position: relative;
                .dropdown-sub-menu {
                    box-shadow: none;
                    padding: 0;
                    &::after {
                        display: none;
                    }
                }
                &--main-item {
                    padding-left: 0;
                    display: block;
                    height: auto;
                }
                a {
                    width: 100%;
                    line-height: 38px;
                    font-size: 14px;
                }
            }
        }
    }
    .nav-main-menu {
        min-height: 50px;
        padding: 0;
    }
    &_right-menu {
        flex-grow: 0;
        width: 100%;
        padding-right: $default-padding;
        padding-bottom: 50px;
        padding-left: 40px;
        padding-top: 30px;
        height: auto;
        margin-top: auto;
        .nav-item {
            width: 100%;
            a {
                display: inline-block;
            }
        }
    }
    &--light {
        .navbar button {
            color: #fff;
            z-index: 1;
        }
        .vs-header {
            &_main-menu {
                .dropdown-menu li a {
                    color: #fff;
                }
                .dropdown-menu li a:hover {
                    color: #fff;
                }
            }
        }
    }
    &--open {
        color: #fff;
        .navbar button {
            color: #fff;
            z-index: 1;
        }
        .menu-list {
            .nav-item a {
                color: #fff;
            }
            .nav-link {
                &--dropdown {
                    &::after {
                        content: "";
                        position: absolute;
                        right: 3px;
                        top: 22px;
                        border: solid #fff;
                        border-width: 0 2px 2px 0;
                        display: inline-block;
                        padding: 3px;
                        transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                        transition: 0.3s;
                    }
                    &[data-expanded="true"] {
                        &::after {
                            transform: rotate(45deg);
                            -webkit-transform: rotate(45deg);
                        }
                    }
                }
            }
        }
        .vs-header_right-menu .donate-now-link {
            color: #fff;
            border-bottom: 1px solid #fff;
            font-size: 18px;
            line-height: 23px;
        }
        .vs-header_logo--default {
            display: none;
        }
        .vs-header_logo--light {
            display: block;
        }
    }
}

.vs-testimonial {
    .testimonial-name {
        margin-bottom: 15px;
    }
    .title-testimonial {
        margin-bottom: 8px;
    }
    .vs-title .vs-title_text {
        font-size: 11px;
        line-height: 14px;
    }
    &_carousel {
        .swiper-container {
            padding-bottom: 26px;
        }
        &_item {
            position: relative;
            .vs-title .vs-title_text {
                font-size: 24px;
                line-height: 30px;
            }
            .member-avatar {
                z-index: 2;
                border: none;
            }
            .member-review {
                display: flex;
                flex-direction: column;
                margin-bottom: -40px;
                .comment {
                    position: relative;
                    left: 0;
                    padding-bottom: 20px;
                    padding-left: 20px;
                    transform: translateY(-50px);
                    img {
                        object-fit: scale-down;
                        height: 100px;
                    }
                    &_content {
                        padding-top: 75px;
                        p::before {
                            position: static;
                            float: left;
                            height: 36px;
                            width: 60px;
                            background-position: -10px -33px;
                            background-size: 80px 160px;
                        }
                        p {
                            padding-left: 0;
                        }
                    }
                }
            }
            .member-postion {
                padding-bottom: 25px;
            }
        }
    }
}

.global_banner {
    padding-bottom: 109px;
    margin-left: -$default-padding;
    margin-right: -$default-padding;
    overflow: hidden;
}

.map-banner {
    max-width: 100%;
    min-width: auto;
    .content-exp {
        .vs-title {
            margin-bottom: 25px;
        }
        .vs-title .vs-title_text {
            font-size: 24px;
            line-height: 30px;
            height: auto;
        }
        .learn-more {
            margin-bottom: 26px;
        }
    }
    &_inner {
        justify-content: flex-start;
        align-items: center;
        &_infor {
            padding-top: 123px;
            padding-bottom: 95px;
            .data-statictis {
                margin-left: 0;
                display: flex;
                justify-content: space-between;
                &_item {
                    font-size: 45px;
                    line-height: 29px;
                    &--scholars {
                       padding-left: 30px;
                       padding-right: 30px;
                    }
                    p {
                        text-align: center;
                        font-size: 21px;
                        line-height: 29px;
                        padding-top: 8px;
                    }
                    .text-percent span {
                        font-size: 23px;
                    }
                }
            }
            vs-button {
                button {
                    font-size: 10px;
                    line-height: 13px;
                    padding: 19px;
                    text-align: center;
                    min-width: 204px;
                    margin-bottom: 26px;
                    &:hover {
                        background: #1D6320;
                        color: #fff;
                    }
                }
            }
        }
        &_map {
            position: relative;
            right: auto;
            top: auto;
            img {
                height: 308px;
                max-width: 100%;
            }
            p {
                top: -16px;
                right: 10px;
                font-size: 8px;
                line-height: 14px;
            }
        }
    }
}

.news-blog {
    padding-top: 60px;
    .vs-title .vs-title_text {
        font-size: 24px;
        line-height: 30px;
    }
    .blog-title {
        .vs-title .vs-title_text {
            font-size: 16px;
            line-height: 20px;
        }
    }
}

.vs-partners {
    .vs-title .vs-title_text {
        font-size: 24px;
        line-height: 30px;
        justify-content: center;
        width: 190px;
        text-align: center;
    }
}

.vs-help {
    margin-bottom: -60px;
    .infor-help {
        p {
            text-align: justify;
        }
    }
    .vs-title {
        &_line {
            display: none;
        }
        span {
            white-space: nowrap;
        }
    }
    .vs-title .vs-title_text {
        font-size: 24px;
        line-height: 36px;
    }
    .title-help {
        margin-bottom: 24px;
    }
    &_help-us {
        padding-top: 50px;
        .infor-help {
            margin-left: 0;
            padding-bottom: 24px;
            a {
                font-size: 10px;
                line-height: 13px;
                padding: 13px;
                min-width: 204px;
                text-align: center;
                &:hover {
                    background: #AFD53D;
                    color: #1D6320;
                }
            }
        }
    }
    img {
        height: 340px;
        object-fit: cover;
        margin-bottom: -70px;
        max-width: 360px;
    }
}

.navbar {
    z-index: 1;
    button {
        color: #64a01d;
        border: none;
        outline: none;
        padding-left: $default-padding;
        padding-right: $default-padding;
        margin-right: -$default-padding;
        transition: 0.3s;
        &[aria-expanded="false"] {
            .icon-menu {
                display: block;
            }
            .icon-close {
                display: none;
            }
        }
        &[aria-expanded="true"] {
            .icon-menu {
                display: none;
            }
            .icon-close {
                display: block;
            }
        }
    }
}

.bg-default {
    display: block
}
.bg-fullhd {
    display: none;
}
.show {
    display: block;
}
.dropdown-sub-menu {
    height: 0;
    overflow: hidden;
    transition: 0.3s;
}
.sub-menu {
    padding-bottom: 20px;
}