
.benefit {
    &-content {
        .vs-title_text {
            font-size: 31px;
            line-height: 41px;
        }
    }
}

.become-student-body {
    &_head {
        .become-student-intro {
            font-size: 14px;
            line-height: 24px;
        }
    }
    .step-des {
        &--recruitment {
            text-align: justify;
        }
    }
    &_applicant {
        .vs-title_text {
            font-size: 24px;
            line-height: 32px;
        }
    }
    &_recruitment {
        .vs-title_text {
            font-size: 24px;
            line-height: 32px;
        }
        .recruitment-steps {
            .step-detail_content {
                .step-text {
                    text-align: justify;
                }
                &--assess {
                    .step-text {
                        text-align: left;
                    }
                }
            }

        }
    }
}

.catolog-contain {
    max-width: 370px;
}
.bottom-buttons {
    flex-flow: row wrap;
    vs-button {
        padding: 0;
        flex: 0 0 48%;
        max-width: 48%;
        margin-bottom: 10px;
    }
    .vs-button {
        max-width: none;
        width: 100%;
    }
    &--profile {
        flex-direction: row;
        vs-button {
            padding: 0;
            flex:none;
            max-width: 100%;
            margin-bottom: 0;
        }
        .vs-button {
            max-width: 156px;
        }
    }
}

.become-student-body_recruitment {
    .recruitment-steps {
        .step-detail {
            margin-bottom: 15px;
            .collapse:not(.show),
            .collapse {
                display: none;
            }
            .collapsing,
            .collapse.show {
                display: block;
                height: 0;
                transition: .3s ease;
            }
            .collapse.show {
                height: auto;
            }
        }
        .step-detail_name--form {
            position: relative;
            margin-bottom: 0;
            &::after {
                content: "";
                position: absolute;
                right: 17px;
                top: 21px;
                border: solid #4A4A4A;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transition: 0.3s;
            }
            &[aria-expanded="true"]::after {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
        }
        .step-detail_content {
            margin-bottom: 0;
            padding-top: 15px;
        }
    }
}
.alumni-card {
    margin-bottom: 50px;
    &_body {
        .alumni-avatar {
            margin-right: 0;
        }
    }
    &_story {
        padding: 64px 67px 46px 79px;
    }
    .alumni-story {
        &::before {
            top: 7px;
            left: 20px;
        }
    }
}
