.mentor {
    &-container {
        margin-top: 24px;
    }
    &-card {
        padding: 22px 24px 22px 24px
    }
    &-filter {
        padding-bottom: 15px;
        .vs-button {
            font-size: 14px;
            padding: 8px 50px;
        }
        &_location {
            margin-bottom: 15px;
        }
    }
}

.program-mentoring {
    margin-top: 24px;
    &_title {
        .vs-title_text {
            font-size: 31px;
            line-height: 41px;
        }
        p {
            font-size: 14px;
            line-height: 24px;
        }
    }
    .requirement-contain {
        &_img {
            height: auto;
            max-height: 100%;
        }
        &_img img {
            width: 100%;
            object-fit: scale-down;
        }
        &_content {
            padding-top: 35px;
            .vs-title_text {
                font-size: 21px;
                line-height: 21px;
            }
        }
    }
    .process-contain {
        &_head {
            .des-col_title {
                font-size: 24px;
                line-height: 32px;
            }
            .img-col {
                height: auto;
                padding-bottom: 15px;
                img {
                    height: auto;
                    width: 100%;
                    object-fit: scale-down;
                }
            }
        }
    }
    .tracking {
        .vs-title_text {
            font-size: 24px;
            line-height: 32px;
        }
        &_image {
            img {
                height: auto;
                width: 100%;
                object-fit: scale-down;
            }
        }
    }
}

.list-bg {
    margin-top: 40px;
    &_item {
        padding: 22px 26px 22px 37px;
    }
}

.join-us {
    .vs-title_text {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }
    &_image {
        &_mobile {
            height: auto;
            max-width: 100%;
        }
    }
}