.project {
    &-body {
        .vs-title_text {
            font-size: 31px;
            line-height: 41px;
        }
        &_cover {
            img {
                animation: none;
            }
            height: auto;
        }
    }
}