.mentoring-pro-container {
    margin-top: 81px;
    font-family: "Open Sans";
    .mentoring-pro-body {
        color: #222A41;
        &_head {
            max-width: 1008px;
            margin: 0 auto;
            vs-title {
                display: block;
                margin-bottom: 13px;
            }
            .intro-content {
                font-size: 18px;
                line-height: 24px;
                color: #222A41;
                white-space: pre-line;
                // margin-bottom: 48px;
                text-align: center;
            }
        }
        &_achieve {
            .pro-achieve-content {
                align-items: center;
            }
            .achieve-list {
                text-align: justify;
                ul {
                    padding-left: 0;
                    list-style: none;
                    max-width: 566px;
                    margin-top: 29px;
                    li {
                        font-size: 14px;
                        line-height: 24px;
                        position: relative;
                        padding-left: 18px;
                        &::before {
                            position: absolute;
                            content: "\2022";
                            color: #85BE1A;
                            font-weight: bold;
                            display: inline-block; 
                            width: 6px;
                            top: -2px;
                            left: 0;
                        }
                    }
                }
            }
            img {
                height: 476px;
                object-fit: cover;
                max-width: 100%;
            }
        }
    }
}