.program-scholarship {
    margin-top: 78px;
    font-size: 14px;
    line-height: 24px;
    color:  #222A41;
    font-family: 'Open Sans';
    &_head {
        margin-bottom: 5px;
        vs-title {
            display: block;
            margin-bottom: 13px;
        }
        .scholarship-des {
            font-size: 18px;
            line-height: 24px ;
            text-align: center;
            max-width: 1008px;
            margin: 0 auto;
            white-space: pre-line;
            color:#222A41;
            p:not(:last-child) {
                padding-bottom: 20px;
            }
        }
    }
    &_revenue {
        position: relative;
        text-align: center;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 21px;
        background: #fff;
        .revenue-total {
            position: absolute;
            color: #85BE1A;
            font-size: 26px;
            line-height: 26px;
            font-family: "Open Sans Bold";
            height: 58;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 271px;
            left: 346px;
        }
        .bg-revenue {
            position: absolute;
            height: 458px;
            top: 88px;
            left: -105px;
        }
        .revenue-item {
            position: absolute;
            text-align: center;
            vs-title {
                display: block;
                padding-bottom: 5px;
            }
            p {
                font-size: 12px;
                line-height: 18px;
                text-align: center;
                justify-content: center;
            }
            &--first {
                top: 21%;
                right: 30%;
                width: 142px;
            }
            &--second {
                right: 27%;
                bottom: 27.5%;
                max-width: 176px;
            }
            &--third {
                left: 26%;
                bottom: 49%;
                max-width: 110px;
            }
        }
        img {
            height: 642px;
        }
    }
    &_slogan {
        justify-content: center;
        max-width: 678px;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 34px;
    }
    &_target {
        margin-bottom: 107px;
        img {
            height: 454px;
            object-fit: cover;
            border-radius: 32px;
        }
        vs-title {
            display: block;
            margin-bottom: 20px;
        }
        ul {
            padding-left: 0;
            list-style: none;
            max-width: 362px;
            li {
                font-size: 14px;
                line-height: 24px;
                position: relative;
                padding-left: 18px;
                &::before {
                    position: absolute;
                    content: "\2022";
                    color: #85BE1A;
                    font-weight: bold;
                    display: inline-block; 
                    width: 6px;
                    top: -2px;
                    left: 0;
                }
            }
        }
    }
    &_select {
        max-width: 910px;
        margin: 0 auto;
        margin-bottom: 130px;
        vs-title {
            margin-bottom: 20px;
            display: block;
        }
        img {
            height: 428px ;
            margin: 0 auto;
            margin-top: -10px;
            display: flex;
            align-items: center;
        }
        .procedures-contain  {
            &_content {
                max-width: 380px ;
            }
        }
        .critera-contain  {
            &_content {
                max-width: 436px ;
            }
        }
        .critera-contain, .procedures-contain {
            &_content {
                ul {
                    padding-left: 0;
                    list-style: none;
                    max-width: 418px;
                    margin-top: 7px;
                    li {
                        font-size: 14px;
                        line-height: 24px;
                        position: relative;
                        padding-left: 18px;
                        &::before {
                            position: absolute;
                            content: "\2022";
                            color: #85BE1A;
                            font-weight: bold;
                            display: inline-block; 
                            width: 6px;
                            top: -2px;
                            left: 0;
                        }
                    }
                }
            }
        }
        // .item-name {
        //     font-size: 14px;
        //     line-height: 24px;
        //     height: 18px;
        //     font-family: 'Muli Bold';
        //     margin-bottom: 7px;
        //     display: flex;
        //     align-items: center;
        // }
        // .critera-list {
        //     max-width: 418px;
           
        // }
        // .procedures-list {
        //     max-width: 380px;
        //     .procedures-des {
        //         font-size: 14px;
        //         line-height: 24px;
        //     }
        // }
        // .critera-list, .procedures-list {
        //     &_item:not(:last-child) {
        //         padding-bottom: 25px;
        //     }
        // }
    }
    .align-center {
        align-items: center;
    }
    &_annual {
        img {
            border-radius: 32px;
            height: 454;
            object-fit: cover;
        }
        vs-title {
            display: block;
            margin-bottom: 20px;
        }
        margin-bottom: 75px;
        .annual-content {
            display: flex;
            flex-flow: row wrap;
            p {
                margin-bottom: 27px;
                text-align: justify;
            }
            ul:nth-child(2) {
                padding-right: 10px;
            }
            ul {
                padding-left: 0;
                list-style: none;
                margin-top: 7px;
                max-width: 280px;
                display: inline-block;
                flex: 0 0 50%;
                max-width: 50%;
                li {
                    font-size: 14px;
                    line-height: 24px;
                    position: relative;
                    padding-left: 18px;
                    &::before {
                        position: absolute;
                        content: "\2022";
                        color: #85BE1A;
                        font-weight: bold;
                        display: inline-block; 
                        width: 6px;
                        top: -2px;
                        left: 0;
                    }
                }
            }
        }
        // .annual-des {
        //     margin-bottom: 27px;
        // }
    }

}
.list-dot {
    padding-left: 0;
    list-style: none;
    max-width: 362px;
    li {
        font-size: 14px;
        line-height: 24px;
        position: relative;
        padding-left: 18px;
        padding-bottom: 0;
        &::before {
            position: absolute;
            content: "\2022";
            color: #85BE1A;
            font-weight: bold;
            display: inline-block; 
            width: 6px;
            top: -2px;
            left: 0;
        }
    }
}