.tranning-program-container {
    margin-top: 78px;
}

.tranning-program {
    &_head {
        max-width: 1008px;
        margin: 0 auto;
        vs-title {
            display: block;
            margin-bottom: 23px;
        }
        .training-intro {
            padding-bottom: 66px;
            text-align: justify;
            white-space: pre-line;
            font-size: 18px;
            line-height: 24px;
        }
    }
    &_list {
        max-width: 1100px;
        margin: 0 auto;
        margin-bottom: 74px;
        transform: translateX(46px);
        .tranning-content {
            font-size: 14px;
            line-height: 24px;
            &_thumbnail {
                max-height: 260px;
                min-height: 260px;
                margin-bottom: 38px;
                display: flex;
                img {
                    max-height: 100%;
                    object-fit: scale-down;
                    max-width: 100%;
                }
            }
            vs-title {
                display: block;
                margin-bottom: 30px;
            }
            &_list {
                max-width: 262px;
                ul {
                    padding-left: 0;
                    list-style: none;
                    li {
                        font-size: 14px;
                        line-height: 24px;
                        position: relative;
                        padding-left: 18px;
                        &::before {
                            position: absolute;
                            content: "\2022";
                            color: #85BE1A;
                            font-weight: bold;
                            display: inline-block;
                            width: 6px;
                            top: -2px;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}