.contact-form-contain {
    max-width: 918px;
    margin: 0 auto;
    .contact-fields {
        padding: 32px 40px;
        color: #4A4A4A;
        border-radius: 18px;
        font-family: 'Open Sans';
        background: #F1F2F2;
        box-shadow: 0 3px 3px rgba($color: #000000, $alpha: 0.16);
        margin-bottom: 76px;
        label {
            font-size: 16px;
        }
        input,
        textarea {
            border-radius: 30px;
            background: #fff;
            border: 1px solid #fff;
            padding: 6px 18px;
        }
        textarea {
            min-height: 100px;
            resize: none;
        }
        input {
            height: 42px;
        }
        .select-donate {
            width: 100%;
        }
        .shadow-error {
            box-shadow: 0 0 2px #dc3545;
        }
        .select-donate button {
            border-radius: 30px;
            background: #fff;
            border: 1px solid #fff;
            height: 42px;
            text-align: left;
            position: relative;
            padding: 6px 18px;
            font-size: 16px;
            line-height: 20px;
            &:focus {
                box-shadow: 0 0 2px #4caf50;
            }
        }
        .donate-selected {
            background: #e2e4e4;
        }
        button::after {
            position: absolute;
            right: 0;
            font: normal normal normal 14px/1 FontAwesome;
            color: #BDC1C0;
            right: 30px;
            font-size: 22px;
            top: 50%;
            transform: translateY(-50%);
        }
        .select-donate .dropdown-menu::after {
            display: none;
        }
        .select-donate .dropdown-menu {
            width: 100%;
            margin-top: 10px;
            ul {
                li {
                    line-height: 40px;
                    padding: 0 20px;
                    &:hover {
                        background: #75717111;
                    }
                }
            }
        }
        .form-control:focus {
            box-shadow: 0 0 2px #4caf50;
        }
        .form-group {
            align-items: center;
            margin-bottom: 15px;
        }
        .checkbox-group {
            display: flex;
            // justify-content: space-between;
            .checkbox-item:not(:last-child) {
                margin-right: 160px;
            }
            .checkbox-item {
                line-height: 40px;
                display: flex;
                align-items: center;
                user-select: none;
                input {
                    display: none;
                }
                input:checked~label::before {
                    background: #AFD53D;
                    border: 1px solid #AFD53D;
                    transition: 0.3s;
                }
                input:checked~label::after {
                    opacity: 1;
                }
                .contact-check {
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    line-height: 40px;
                    height: 40px;
                    &::after {
                        opacity: 0;
                        content: "\f00c";
                        font: normal normal normal 14px/1 FontAwesome;
                        display: inline-block;
                        position: absolute;
                        left: 3px;
                        top: 50%;
                        transform: translateY(-50%);
                        color: #fff;
                        transition: 0.3s;
                    }
                    &::before {
                        content: "";
                        width: 19px;
                        height: 19px;
                        border-radius: 2px;
                        border: 1px solid #707070;
                        margin-right: 14px;
                        background: #fff;
                        transition: 0.3s;
                    }
                }
            }
        }
        .capcha-title {
            opacity: 0;
        }
        .capcha-contain {
            display: flex;
            align-items: center;
            p {
                margin-right: 12px;
                font-family: 'Open Sans SemiBold';
            }
            input {
                max-width: 183px;
                margin-right: 10px;
            }
            button {
                outline: none;
                box-shadow: none;
                color: #AFD53D;
                padding: 15px;
                &:hover {
                    color: #1D6320;
                }
            }
        }
        .donate-form {
            label {
                // margin-top: -70px;
            }
            p {
                white-space: pre;
                font-size: 16px;
                line-height: 20px;
                color: #707070;
                margin-top: 14px;
                margin-bottom: 28px;
                display: block;
                a {
                    color: #AFD53D;
                }
            }
        }
    }
    vs-button {
        width: 100%;
    }
    form {
        vs-button {
            button {
                width: 100%;
                color: #fff;
                font-family: 'Open Sans';
                padding: 15px 30px;
                &:hover {
                    background: #1D6320;
                    color: #fff;
                    transition: 0.3s;
                }
            }
        }
    }
}

.location-select {
    display: block;
    border-radius: 30px;
    .select2-search__field {
        height: 100%;
        margin: 0 !important;
        font-size: 16px!important;
        line-height: 20px!important;
        padding: 6px 18px !important;
    }
    .select2-selection {
        border-radius: 30px !important;
        background: #fff;
        border: none;
        height: 42px;
        text-align: left;
        position: relative;
    }
    .select2-container--focus .select2-selection {
        border: none;
        border-radius: 30px;
    }
    .select2-container--open {
        margin: 0;
    }
    .select2-selection__rendered {
        height: 100% !important;
        padding: 6px 18px !important;
        display: flex !important;
        align-items: center !important;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        margin-top: 10px;
        margin-left: 18px;
        line-height: 20px;
        font-size: 16px;
        background: none;
        border: none;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        display: none;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 8px !important;
        right: 15px !important;
    }
    .select2-container--focus.select2-container--open .select2-selection {
        background: #dbdcdc !important;
    }
}

.select2-container--open {
    margin-top: 15px;
    .select2-dropdown {
        border: 1px solid #aaa;
    }
}

.select2-container {
    .select2-results__option {
        display: flex;
        align-items: center;
        font-weight: bold;
    }
    .location-flag {
        max-width: 30px;
        margin-right: 15px;
    }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #f5f5f5;
    color: #000;
}