$c-green-strong: #1D6320;
$c-green-lochmara: #64A01D;
$c-green-yellow: #AFD53D;
$c-green-atlantis: #85BE1A;
$c-green-darksea: #97B799;
$c-gray: #4C4C4C;
$c-white: #fff;
$c-azure: #ECF0F1;
$c-black: #000000;
$c-integ: #2CB4C9;
$c-impact: #44C0EF;
$c-grow : #32AD46;
$c-community: #076FB0;
$colors: ("green-strong": $c-green-strong, 'green-lochmara': $c-green-lochmara, 'green-yellow' : $c-green-yellow, 
'green-atlantis': $c-green-atlantis, 'gray' :$c-gray , 'green-darksea': $c-green-darksea, 'white': $c-white, 'black': $c-black, 'integ' : $c-integ,'impact': $c-impact, 'grow': $c-grow, 'community': $c-community)