.vs-our-team{
    &_team {
        .team-item {
            &_contain {
                .founder-avartar {
                    &--left {
                      max-width: 100%;
                      padding: 46px 26px 64px 70px;
  
                    }
                    &--right {
                        max-width: 100%;
                        padding: 46px 70px 64px 26px;
                    }
                }
                .founder-infor {
                    &_name {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
.vs-vi-mission {
    .vision {
        overflow: hidden;
        padding-bottom: 28px;
        &_image {
            &_bg {
                left: 0;
                right: 0;
            }
        }
    }
    .mission {
        &_content {
            order: 2;
            padding: 0px $default-padding;
        }
        &_image {
            order: 1;
        }
    }
}
.vs-our-team_title p {
    white-space: nowrap;
}

