.profile-container {
    max-width: 720px;
}
.bottom-buttons {
    flex-flow: row wrap;
    vs-button {
        padding: 0;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }
    .vs-button {
        max-width: none;
        width: 100%;
    }
    &--profile {
        flex-direction: row;
        vs-button {
            padding: 0;
            flex:none;
            max-width: 100%;
            margin-bottom: 0;
        }
        .vs-button {
            max-width: 156px;
        }
    }
}
.program-mentoring {
    .tracking {
        &_image {
            padding-top: 0;
        }
    }
    .process-contain {
        &_head {
            .des-col_text {
                max-width: 449px;
                text-align: justify;
            }
        }
    }
}
.list-bg_item p {
    text-align: justify;
}