$c-green-strong: #1D6320;
$c-green-lochmara: #64A01D;
$c-green-yellow: #AFD53D;
$c-green-atlantis: #85BE1A;
$c-green-darksea: #00FF9B;
$c-gray: #747474;
$c-white: #fff;
$c-azure: #ECF0F1;
$c-black: #000000;
$c-integ: #ED2D7A;
$c-impact: #44C0EF;
$c-grow : #32AD46;
$c-community: #076FB0;
$c-dark-navy: #221C48;
$c-dark-blue: #432C85;
$c-multi: #25227B;
$c-red: #FF0070;
$colors: ("red":$c-red,"dark-blue":$c-dark-blue,"multi":$c-multi,"dark-navy": $c-dark-navy,"green-strong": $c-green-strong, 'green-lochmara': $c-green-lochmara, 'green-yellow' : $c-green-yellow, 
'green-atlantis': $c-green-atlantis, 'gray' :$c-gray , 'green-darksea': $c-green-darksea, 'white': $c-white, 'black': $c-black, 'integ' : $c-integ,'impact': $c-impact, 'grow': $c-grow, 'community': $c-community)