.our-model {
    &_list {
        .model-item {
            img {
                height: 200px;
            }
            vs-title {
                min-height: 68px;
                display: block;
            }
        }
    }
}

.map-banner {
    &_inner {
        &_infor {
            padding-top: 100px;
            padding-bottom: 75px;
        }
        &_map {
            img {
                height: 100%;
                object-fit: scale-down;
                max-width: 50vw;
            }
            p {
                top: 86px;
                right: 56px;
                font-size: 6px;
                line-height: 8px;
            }
        }
    }
}
.infor-help {
    p {
        br {
            display: none;
            text-align: justify;
        }
    }
}