
.our-students {
    &-container {
        margin-top: 64px;
    }
    &-filter {
        padding: 20px 0 16px 0;
        flex-flow: wrap;
        .filter-list {
            padding-top: 10px;
            flex-flow: row wrap;
        }
        .left-col {
            flex: 0 0 100%;
            max-width: 100%;
            p {
                display: none;
            }
        }
        .filter-list_fields {
            flex: 0 0 100%;
            max-width: 100%;
            display: flex;
            flex-flow: row wrap;
            .fiter-field {
                padding-right: 10px;
                margin-right: 0;
                flex: 0 0 50%;
                margin-bottom: 10px;
                input {
                    width: 100%;
                    display: block;
                    max-width: none;
                }
            }
        }
    }
}

.students-list {
    &_item {
        padding: 20px 0;
    }
}


.profile-container {
    max-width: 100%;
    margin-top: 24px;
    padding-left: $default-padding;
    padding-right: $default-padding;
}

.overview-infor {
    display: flex;
    flex-flow: row wrap;
    margin-left: -$default-padding;
    margin-right: -$default-padding;
    margin-bottom: 33px;
    &_avatar {
        flex: 0 0 100%;
        max-width: 100%;
        min-width: auto;
        height: auto;
        margin: 0;
        padding: 0 $default-padding;
        padding-bottom: 40px;
        img {
            max-width: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &_infor {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 $default-padding;
    }
}

.detail-contain {
    padding-top: 0;
    border: none;
    box-shadow: none;
    flex-flow: row wrap;
    vs-profile-catalog,
    tab-content {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.catolog-contain {
    width: 100%;
    padding-left: 0;
    margin-right: 0;
    max-width: 100%;
}

.vs-catalog {
    padding-right: 0;
    max-width: 100%;
    li {
        max-width: 100%;
        a {
            background: #f1f2f3;
            transition: .3s ease;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                right: 17px;
                top: 18px;
                border: solid #4A4A4A;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transition: 0.3s;
            }
        }
        a[aria-expanded="true"] {
            &::after {
                border-color: #FFF;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
        }
    }
    .profile-table {
        width: auto;
        min-width: 100%;
        margin: 0;
    }
}

.profile-collapse {
    max-width: 100%;
}

.profile-collapse button {
    padding: 16px 20px 16px 12px;
    &::after {
        right: 10px;
    }
}

.become-student {
    &-container {
        margin-top: 24px;
    }
    &-body {
        &_benefit {
            .benefit-list {
                padding-left: 0px;
                ul {
                    width: 100%;
                    max-width: 100%;
                    margin: 0;
                    li {
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}

.benefit {
    &-content {
        .vs-title_text {
            font-size: 31px;
            line-height: 41px;
        }
    }
}

.become-student-body_applicant .vs-title_text {
    font-size: 24px;
    line-height: 32px;
}

.become-student-body_recruitment .vs-title_text {
    font-size: 24px;
    line-height: 32px;
}

.become-student-body_recruitment {
    .recruitment-steps {
        .step-detail {
            margin-bottom: 15px;
            .collapse:not(.show),
            .collapse {
                display: none;
            }
            .collapsing,
            .collapse.show {
                display: block;
                height: 0;
                transition: .3s ease;
            }
            .collapse.show {
                height: auto;
            }
        }
        .step-detail_name--form {
            position: relative;
            margin-bottom: 0;
            &::after {
                content: "";
                position: absolute;
                right: 17px;
                top: 21px;
                border: solid #4A4A4A;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transition: 0.3s;
            }
            &[aria-expanded="true"]::after {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
        }
        .step-detail_content {
            margin-bottom: 0;
            padding-top: 15px;
        }
    }
}

.step-des--recruitment {
    margin-bottom: 20px;
}
.education-contain, .personal-contain {
    padding-top: 18px;
}
.detail-contain .tab-content {
   margin-right: 0;
}
.vs-catalog li:not(:last-child) {
    margin-bottom: 20px;
}
.vs-catalog {
    li {
        a:hover {
            color: #4A4A4A;
            background: #f1f2f3;
        }
    }
}

.alumni-card {
    margin-bottom: 30px;
    &_body {
        .alumni-avatar {
            flex: 0 0 280px;
            max-width: 280px;
        }
    }
    &_story {
        padding: 44px 47px 26px 59px;
    }
    .alumni-story {
        &::before {
            top: -10px;
            left: 10px;
        }
    }
}
// .alumni-filter {
//     padding: 18.5px 0;
//     .left-col {
//         flex: none;
//     }
//     .filter-list {
//         padding-top: 0;
//         flex-flow: row;
//         &_fields {
//             flex: 0 0 auto;
//             .fiter-field {
//                 flex: 0 0 auto;
//                 margin-bottom: 0;
//             }
//         }
//     }
// }