.filter-col {
    padding-right: 11px;
}

.mentor-filter {
    font-family: 'Open Sans';
    color: #4A4A4A;
    max-width: 370px;
    &_title {
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        padding-bottom: 28px;
        border-bottom: 1px solid #C6C6C6;
        font-family: 'Open Sans SemiBold';
    }
    &_location {
        border-bottom: 1px solid #C6C6C6;
        margin-bottom: 30px;
        p {
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 9px;
            font-family: 'Open Sans SemiBold';
            margin-top: 22px;
        }
        .location-list {
            font-size: 14px;
            line-height: 18px;
            color: #4A4A4A;
            margin-bottom: 10px;
            &_item {
                line-height: 40px;
                display: flex;
                align-items: center;
                user-select: none;
                input {
                    display: none;
                }
                input:checked~label::before {
                    background: #AFD53D;
                    border: 1px solid #AFD53D;
                    transition: 0.3s;
                }
                input:checked~label::after {
                    opacity: 1;
                }
                .location-check {
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    line-height: 40px;
                    height: 40px;
                    &::after {
                        content: "\f00c";
                        font: normal normal normal 14px/1 FontAwesome;
                        display: inline-block;
                        position: absolute;
                        left: 3px;
                        top: 13px;
                        color: #fff;
                        opacity: 1;
                        transition: .3s ease;
                    }
                    &::before {
                        content: "";
                        width: 19px;
                        height: 19px;
                        border-radius: 2px;
                        border: 1px solid #707070;
                        margin-right: 14px;
                        transition: .3s ease;
                    }
                }
            }
        }
    }
    vs-button {
        button {
            color: #fff;
            padding: 15px 66px;
            font-family: 'Open Sans';
            &:hover {
                background-color: #1D6320;
                color: #fff;
                transition: 0.3s;
            }
        }
    }
}