
.mentor-list {
    margin-bottom: 41px;
    .mentor-card {
        border-radius: 18px;
        box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
        min-height: 144px;
        color: #4A4A4A;
        display: flex;
        padding: 22px 29px;
        margin-bottom: 20px;
        &_body {
            display: flex;
            font-size: 18px;
            line-height: 23px;
            flex-direction: column;
            flex-grow: 1;
            p {
                max-width: 603px;
                font-size: 16px;
                line-height: 38px;
                border-bottom: 1px solid #C6C6C6;
            }
            .mentor-name {
                font-family: 'Open Sans SemiBold';
                color: #85BE1A;
                font-size: 18px;
                line-height: 36px;
            }
        }
        &_thumbnail {
            display: flex;
            align-items: center;
            margin-right: 31px;
            min-width: 58px;
            img {
                height: 58px;
                border-radius: 50%;
                object-fit: cover;
                max-width: 100%;
                width: 58px;
            }
        }
       
    }

}
.mentor-bottom {
    vs-button {
        button {
            color: #AFD53D;
        }
    }
}
.mentor-container {
    margin-top: 65px;
    margin-bottom: 65px;
    font-family: 'Open Sans';
}
.mentor-search {
    margin-bottom: 30px;
}
.total-filter {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #4a4a4a;
    padding-left: 19px;
}
.our-mentor-content {
    display: flex;
    flex-direction: row;
    margin-left: -19px;
    margin-right: -19px;
    &_left {
        max-width: 287px;
        width: 287px;
        padding: 0 19px;
    }
    &_right {
        display: flex;
        flex-direction: column;
        padding: 0 19px;
        flex-grow: 1;
    }
}