$font-size-keys: ("12", "13", "14", "16", "18", "32","34", "42", "43", "72", "30", "60");
$font-sizes: ("12": 12px,"13": 13px, "14": 14px, "16": 16px,"18": 18px, "32": 32px,"34": 34px, "42": 42px, "43": 43px, "72":72px, "30": 30px, "60":60px);
$font-line-heights: ("12": 15px,"13": 16px, "14": 18px, "16": 20px,"18": 24px, "32": 40px, "34": 48px, "42": 53px, "43": 54px, "72":48px, "30": 40px, "60":80px)
